name: double_back
description: A Flutter utility widget for Android that prevents accidental app closure by requiring a double-tap on the system back button.
version: 0.0.3
homepage: https://github.com/khurbanovrakhmiddin/double_back
repository: https://github.com/khurbanovrakhmiddin/double_back

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: '>=3.19.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true